/.idea/**
/documents/jpmerx-polynoms-cyclotomics.aux
/documents/jpmerx-polynoms-cyclotomics.dvi
/documents/jpmerx-polynoms-cyclotomics.log
/documents/jpmerx-polynoms-cyclotomics.out
/documents/jpmerx-polynoms-cyclotomics.ps
/documents/jpmerx-polynoms-cyclotomics.thm
